<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>myfeed</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-129293328-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-129293328-1');
</script>
<style>
    body{
        margin: 0 auto;
        max-width:900px;
        text-align: center;
    }
    @media only screen and (max-width: 420px) {
        h1{
            margin: 0rem;
            font-size: 1rem;
        }
    }
</style>
</head>
<body>

<h1>my feed</h1>

{% for data in data_list %}
{{data.0}}
<br>
{{data.1}}
<br>
{{data.2}}
<hr>
{% endfor %}

</body>
</html>
